# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build directories
build
output

# Executables
*.exe
*.out
*.app
mosfet

# archives
*.7z
*.tar.gz

# python
__pycache__

# extras
*replay.html
*application.log
custom_replay_0.json
custom_replay_1.json
*test.log

metrics.csv
dashboard.html