# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build directories
build
output

# Executables
*.exe
*.out
*.app
mosfet

# archives
*.7z
*.tar.gz

# python
__pycache__

# clangd
.cache

# extras
*replay.html
*application.log
application_0.log
application_1.log
custom_replay_0.json
custom_replay_1.json
*test.log
valgrind_report*
DEBUG

metrics.csv
metric_details_0.csv
metric_details_1.csv
dashboard.html